
header {
  position: relative;
  padding: 0 139px;
}

.header-wrapper {
  position: relative;
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);
}

h1 {
  font-family: Circle-ExtraBold, Arial, sans-serif;
  position: absolute;
  left: -18px;
  top: 140px;
  max-width: 1100px;
  font-size: calc(10px + 9vw);
  text-transform: uppercase;
  letter-spacing: 10.3px;
  line-height: 173.33px;
  color: #fff;
  text-shadow: 0 20px 90px rgba(36, 33, 31, 0.1);
  z-index: 110;
}

.header-content {
  @include flex(flex-end);
  min-height: 1044px;

  & .next, .prev {
    position: absolute;
    left: 4px;
    @include flex(center, center);
    height: 80px;
    width: 88px;
    background: transparent;
    cursor: pointer;
    
    &:hover {
      & .arrow-default {
        opacity: 0;
      }
      & .arrow-hover {
        opacity: 1;
      }
    }

    & img {
      position: absolute;
      transition: .2s;
      &.arrow-default {
        opacity: 1;
      }
      &.arrow-hover {
        opacity: 0;
      }
    }
  }

  & .prev img {
    transform: rotate(-90deg);
  }
  & .next img {
    transform: rotate(90deg);
  }

}

.navigation {
  @include flex(flex-start, center, nowrap, column);
  width: 28.44%;
  position: relative;
  bottom: 112px;
  z-index: 120;

  & .prev {
    top: -80px;
  }

  & .next {
    bottom: -80px;
  }
}

.process-nav {
  list-style-type: none;
  position: relative;
  left: 8px;
  width: 100%;

  &-item {
    @include flex(center);
    position: relative;
    height: 80px;
    width: 100%;
    cursor: pointer;

    &:hover .process-number {
      color: #f9c97b !important;
    }
    &:hover .process-name {
      opacity: 1;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      opacity: 0;
      left: -8px;
      bottom: 0;
      width: 8px;
      height: 100%;
    }

    &:before {
      background: url("../img/nav-active.png");
    }
    &:after {
      background: #f9c97b;
    }
    
    & .process-active-line {
      position: absolute;
      opacity: 0;
      top: 50%;
      right: 0;
      transform: translateY(50%);
      width: 0%;
      height: 2px;
      background: #f4c373;
      transition: .3s ease-out;
    }

    &-active {
      & .process-number {
        color: #f9c97b !important;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: .7;
    }
      & .process-active-line {
        opacity: 1;
        width: 70%;
      }
      & > p.process-name {
        opacity: 0 !important;
        transform: translateX(50px);
      }
    }

    &:first-child .process-number {
      border: none;
    }
  }

  & .process-number {
    box-sizing: content-box;
    @include flex(center, center);
    width: 80px;
    height: 100%;
    font-size: 1.3125em;
    background: #fff;
    color: #282828;
    transform: rotate(-90deg);
    border-right:2px solid #ebebea;
    box-shadow: 0 20px 90px rgba(36, 33, 31, 0.15);
    transition: .2s;
  }

  & .process-name {
    font-family: Cabin, Arial, sans-serif;
    margin-left: 57px;
    font-size: 1.1875em;
    opacity: 0.6;
    transition: .2s;
  }
}

.process-body {
  position: absolute;
  right: 84px;
  bottom: -99px;
  padding: 274px 94px 154px 144px;
  width: 71.66%;
  box-shadow: 0 30px 120px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  z-index: 100;
  transform: translateX(500px) scale(.7);
  opacity: 0;
  transition: .3s;
  &-hidden {
    transform: translateX(-500px) scale(.7);
    opacity: 0;
  }

  &-active {
    transform: translateX(0) scale(1) !important;
    opacity: 1 !important;
    z-index: 101;
  }

  & .prev, .next {
    left: auto;
    right: 31px;
    width: 250px;
    text-transform: uppercase;
    &:hover p{
      opacity: 1;
      color: #f2bf75;
    }
    &:active p {
      color: #000;
    }

    & img {
      position: absolute;
      right: 0;
    }
    & p {
      margin-right: 15px;
      font-size: .9em;
      letter-spacing: 2.35px;
      opacity: .5;
      transition: .2s;
      user-select: none;
    }
  }
  & .prev {
    top: 37px;
  }

  & .next {
    bottom: 37px;
  }

  &-header {
    @include flex(center);
    margin-bottom: 72px;

    & .process-body-img {
      width: 59.8%;
    }
    & img {
      width: 100%;
      max-height: 235px;
    }
  }

  &-title {
    width: calc(41.2% - 38px);
    padding-left: 38px;
    & h2 {
      font-family: Circle-ExtraBold, Arial, sans-serif;
      font-size: calc(10px + 1.85vw);
      color: #282828;
      white-space: nowrap;
    }
    & p {
      font-size: 1.4375em;
      color: #232323;
      font-weight: 700;
      opacity: 0.5;
    }
  }

  &-description {
    max-width: 59.8%;
    height: 160px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #353535;
    font-family: Cabin, Arial, sans-serif;
    font-size: 1.1875em;
    line-height: 32px;
    letter-spacing: 0.47px;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to bottom, transparent, #fff);
    }
  }
}